header {
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}

.underScore {
    border: 3px solid black;
    font-size: 10px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}

.rightGuess {
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}

.wrongGuess {
    border: 3px solid black;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    height: 150px;
    width: 80%;
}

body {
    background-image: url('../images/athens.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background:(0, 0, 0, 0.1);
}





